<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- NFC Permission -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <!-- NFC feature (optional, app also works via USB) -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- USB host support (optional) -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEPGPEncryptor"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AEPGPEncryptor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NFC intent filters for ISO-DEP (ISO 14443-4) cards -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <!-- USB attach intents for CCID readers -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>

        <!-- Encrypt Activity -->
        <activity
            android:name=".EncryptActivity"
            android:exported="false"
            android:label="@string/encrypt_file"
            android:parentActivityName=".MainActivity" />

        <!-- Decrypt Activity -->
        <activity
            android:name=".DecryptActivity"
            android:exported="false"
            android:label="@string/decrypt_file"
            android:parentActivityName=".MainActivity" />

        <!-- Card Management Activity -->
        <activity
            android:name=".CardManagementActivity"
            android:exported="false"
            android:label="@string/card_management"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
